In [18]:
import pandas as pd

In [19]:
yellow_tripdata_01_20000=pd.read_csv('yellow_tripdata_01_20000.csv')
yellow_tripdata_02_20000=pd.read_csv('yellow_tripdata_02_20000.csv')
yellow_tripdata_03_20000=pd.read_csv('yellow_tripdata_03_20000.csv')
yellow_tripdata_04_20000=pd.read_csv('yellow_tripdata_04_20000.csv')
yellow_tripdata_05_20000=pd.read_csv('yellow_tripdata_05_20000.csv')
yellow_tripdata_06_20000=pd.read_csv('yellow_tripdata_06_20000.csv')
yellow_tripdata_07_20000=pd.read_csv('yellow_tripdata_07_20000.csv')
yellow_tripdata_08_20000=pd.read_csv('yellow_tripdata_08_20000.csv')
yellow_tripdata_09_20000=pd.read_csv('yellow_tripdata_09_20000.csv')
yellow_tripdata_10_20000=pd.read_csv('yellow_tripdata_10_20000.csv')
yellow_tripdata_11_20000=pd.read_csv('yellow_tripdata_11_20000.csv')
yellow_tripdata_12_20000=pd.read_csv('yellow_tripdata_12_20000.csv')

In [20]:
del yellow_tripdata_01_20000['Unnamed: 0']
del yellow_tripdata_02_20000['Unnamed: 0']
del yellow_tripdata_03_20000['Unnamed: 0']
del yellow_tripdata_04_20000['Unnamed: 0']
del yellow_tripdata_05_20000['Unnamed: 0']
del yellow_tripdata_06_20000['Unnamed: 0']
del yellow_tripdata_07_20000['Unnamed: 0']
del yellow_tripdata_08_20000['Unnamed: 0']
del yellow_tripdata_09_20000['Unnamed: 0']
del yellow_tripdata_10_20000['Unnamed: 0']
del yellow_tripdata_11_20000['Unnamed: 0']
del yellow_tripdata_12_20000['Unnamed: 0']

In [21]:
frames=[yellow_tripdata_01_20000,yellow_tripdata_02_20000,yellow_tripdata_03_20000,yellow_tripdata_04_20000,yellow_tripdata_05_20000,yellow_tripdata_06_20000,yellow_tripdata_07_20000,yellow_tripdata_08_20000,yellow_tripdata_09_20000,yellow_tripdata_10_20000,yellow_tripdata_11_20000,yellow_tripdata_12_20000]

In [22]:
result = pd.concat(frames)

In [23]:
average_amount_list=list()
for i in range(240000):
    if i%1000==0:
        print i
    average_amount_list.append(result.iloc[i]['total_amount']/result.iloc[i]['trip_distance'])

0
1000
2000
3000
4000
5000
6000
7000
8000
9000
10000
11000
12000
13000
14000
15000
16000
17000
18000
19000
20000
21000
22000
23000
24000
25000
26000
27000
28000
29000
30000
31000
32000
33000
34000
35000
36000
37000
38000
39000
40000
41000
42000
43000
44000
45000
46000
47000
48000
49000
50000
51000
52000
53000
54000
55000
56000
57000
58000
59000
60000
61000
62000
63000
64000
65000
66000
67000
68000
69000
70000
71000
72000
73000
74000
75000
76000
77000
78000
79000
80000
81000
82000
83000
84000
85000
86000
87000
88000
89000
90000
91000
92000
93000
94000
95000
96000
97000
98000
99000
100000
101000
102000
103000
104000
105000
106000
107000
108000
109000
110000
111000
112000
113000
114000
115000
116000
117000
118000
119000
120000
121000
122000
123000
124000
125000
126000
127000
128000
129000
130000
131000
132000
133000
134000
135000
136000
137000
138000
139000
140000
141000
142000
143000
144000
145000
146000
147000
148000
149000
150000
151000
152000
153000
154000
155000
156000
157000
158000
159000
160000
161000
162000
163000
164000
165000
166000
167000
168000
169000
170000
171000
172000
173000
174000
175000
176000
177000
178000
179000
180000
181000
182000
183000
184000
185000
186000
187000
188000
189000
190000
191000
192000
193000
194000
195000
196000
197000
198000
199000
200000
201000
202000
203000
204000
205000
206000
207000
208000
209000
210000
211000
212000
213000
214000
215000
216000
217000
218000
219000
220000
221000
222000
223000
224000
225000
226000
227000
228000
229000
230000
231000
232000
233000
234000
235000
236000
237000
238000
239000

In [24]:
result['average_amount']=average_amount_list

In [35]:
sum=0
number_list=list()
for number in result['average_amount']:
    if number==float('-Inf'):
        number_list.append(number) 
print len(number_list) 
#     sum=sum+number
#     print sum
# sum

8

In [39]:
result=result[result['average_amount']!=float('Inf')]
result=result[result['average_amount']!=float('-Inf')]

In [40]:
result['average_amount'].mean()

8.142240463657261

In [44]:
result['tpep_pickup_datetime']=pd.to_datetime(result['tpep_pickup_datetime'])

In [56]:
month_list=list()
hour_list=list()
for i in range(len(result['tpep_pickup_datetime'])):
    month_list.append(result['tpep_pickup_datetime'].iloc[i].month)
    hour_list.append(result['tpep_pickup_datetime'].iloc[i].hour)

In [57]:
result.index=range(len(result))

In [58]:
result['month']=month_list
result['hour']=hour_list

In [78]:
result_0_7['average_amount'].mean()

7.291383477644912

In [60]:
result_groupby_month=result.groupby('month')

In [64]:
month_number_list=list()
for i in range(1,13):
    result_month=result_groupby_month.get_group(i)
    month_number_list.append(result_month['average_amount'].mean())

In [79]:
result_groupby_month=result.groupby('hour')

In [87]:
hour_number_list=list()
for i in range(24):
    result_hour=result_groupby_month.get_group(i)
    hour_number_list.append(result_hour['average_amount'].mean())

In [93]:
count=0
for hour in hour_number_list:
    print str(count)+" "+str(hour)
    count+=1

0 6.80128567181
1 6.89150629944
2 10.6546777858
3 6.83337296262
4 7.34945634289
5 6.83912502375
6 6.06882543756
7 7.11680697166
8 8.46151196797
9 8.37559935175
10 8.33540795464
11 8.62215644742
12 8.16135655294
13 8.25355718706
14 8.95791265389
15 8.32091417898
16 9.10974092044
17 8.88771902541
18 9.11065016248
19 8.88112564832
20 8.05334191316
21 7.02211013046
22 7.16949270812
23 7.91752064385

In [28]:
import numpy as np
result = result.dropna(subset=['average_amount'])

In [17]:
result

Empty DataFrame
Columns: [RateCodeID, RatecodeID, VendorID, dropoff_latitude, dropoff_longitude, extra, fare_amount, improvement_surcharge, mta_tax, passenger_count, payment_type, pickup_latitude, pickup_longitude, station_id, station_latitude, station_longitude, store_and_fwd_flag, tip_amount, tolls_amount, total_amount, tpep_dropoff_datetime, tpep_pickup_datetime, trip_distance, average_amount]
Index: []

[0 rows x 24 columns]

In [6]:
result.index=range(240000)

In [8]:
result['total_amount']

0          9.12
1          6.80
2         29.15
3         13.80
4          7.80
5         12.36
6         11.00
7         12.95
8          6.30
9          7.80
10        45.13
11         9.80
12        16.80
13         9.80
14         9.30
15        62.46
16         7.30
17        11.00
18        62.78
19         6.30
20        15.80
21         7.30
22         9.95
23        10.30
24         9.80
25         6.30
26        12.30
27        21.63
28        13.30
29        15.38
          ...
239970    25.55
239971     7.80
239972    24.95
239973    16.60
239974     8.00
239975     8.15
239976    15.30
239977    11.80
239978    28.34
239979    18.95
239980     6.62
239981    11.80
239982     7.80
239983     7.74
239984    73.34
239985    14.80
239986    14.80
239987    19.30
239988     9.30
239989     9.30
239990     6.80
239991    23.15
239992     6.80
239993    23.76
239994     8.30
239995     6.80
239996    18.36
239997    11.30
239998    14.30
239999    11.16
Name: total_amount, dtype: float64

In [14]:
result_group_by_id=result.groupby('station_id')

In [38]:
citibike_tripdata=pd.read_csv("data/201512-citibike-tripdata.csv")
station_id_list=list(citibike_tripdata['start station id'].unique())
start_station_latitude_list=list(citibike_tripdata['start station latitude'].unique())
start_station_longitude_list=list(citibike_tripdata['start station longitude'].unique())

In [31]:
station_id_list=result['station_id'].unique()

In [32]:
number_of_trip_list=list()
for station_id in station_id_list:
    station_id_group=result_group_by_id.get_group(station_id)
    number_of_trip_list.append(len(station_id_group))

In [41]:
df=pd.DataFrame({'station_id':station_id_list,'number_of_trip':number_of_trip_list,'station_latitude':start_station_latitude_list,'station_longitude':start_station_longitude_list})

In [42]:
df=df.sort(['number_of_trip'])

/Users/zeweiliu/anaconda/lib/python2.7/site-packages/ipykernel/__main__.py:1: FutureWarning: sort(columns=....) is deprecated, use sort_values(by=.....)
  if __name__ == '__main__':

In [43]:
df.to_csv('station_region.csv')

In [44]:
len(station_id_list)

471